@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

:root {

    --goBackBtn: "Go back";

}


.button-body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.span {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.span span {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Jura', sans-serif;
    font-weight: bold;

}

.span span:before,
.span span:after {
    position: absolute;
    content: var(--goBackBtn);
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #31575f;
    box-sizing: border-box;
    border-radius: 5px;
}



.span span:before {
    color: #fff;
    background: #31575f;
    transform: rotateY(0deg) translateZ(25px);
}

.span span:after {
    color: #31575f;
    background-color: rgba(255, 255, 255, 0.5);
    transform: rotateX(90deg) translateZ(25px);
}

.span span:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}