@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html{
  font-family: 'Jura', sans-serif;
}

body {
  margin: 0;
  /* color: #0c252c70; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../assets/des2.jpg);
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  flex-direction: column;
}