@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');
.link-btn,.arrow-down{
    margin: 0 auto !important;
}


.welcome-box{
    height: 100vh;
    width: 100%;
    padding: 9rem 0;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



h1,.subtitle{
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-weight: bold;
}

h1{
    font-weight: bolder;
    margin: 0 auto;
}

.subtitle{
    padding-inline: 8rem;
    padding-top: 1rem;
    animation: subtitle 4s ease-in-out;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 1.8rem;
}




button{
    margin: 1.6rem auto;
    font-size: 1.4rem;
    background-color: #012838;
}

.button:hover{
    color: #0c252c;
    background-color: "#fff";
}

@media (max-width: 600px) {
    h1{
        font-size: 3rem !important;
        font-weight: bolder;

    }

    .subtitle{
        font-size: 2rem;
        width: 90%;
        margin: auto;
        padding: 0px .9rem;
    }
}

@media (max-width: 300px) {
    h1{
        font-size: 2rem !important;
        font-weight: bolder;
    }
    .subtitle{
        font-size: 1.5rem;
    }

}

